@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&display=swap');

body {
  font-family: 'Cormorant Garamond', serif;
  
}

#heads{
  padding-top: 20%;
}

.logo{
  height: 50px;
  width: 150px;
 
}

.social img {
  border-radius: 50%;
  transition: 0.2s ease-out;
}
.social img:hover {
  box-shadow: 0 0 20px rgb(0, 0, 0);
  margin: -3px;
  padding: 3px;
  background: yellowgreen;
}

.landingpage{
  background-image: url("../image/fashion-public-relations.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment:fixed;
  padding-bottom: 20px;
  position: relative;
  overflow-x: none;
  
}



.navfooter{
  float: left;
  text-align: center;
  width: 100%; 
  margin: 2%;
  padding: 2%;
  color:white;

}
  
.footer{
    
    float: left;
    width: 100%;
    text-align: unset;
    width: 100%;
    margin: 2%; 
    color:black;
    height: 180px;
    margin-bottom: 0;
    font-size: small;
    

}
.pheader{
  text-align: right;
}
.nava{
  color: black;
  font-size: larger;
}



#collections{
  border-radius: 2rem;
  box-sizing: border-box;
  margin: 3%;
  border-color: black;
  text-align: center;
  color: black;
}

.firstcard {
  position: bottom;
  width: 100%;
  min-height: 100%;
  background:red;
  cursor: cell;
  display: none;
  transition: all 0.9s ease;
}
