@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,700;1,400&family=Libre+Baskerville&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300&display=swap');

.about{
     text-align: center;
     font-family: 'Cormorant Garamond', serif;
     font-size: larger;
     padding-top: 6%;
    }
    .logo{
        height: 50px;
        width: 150px;
       
      }
.inter,#yoo{
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
    font-weight: bolder;
    font-size: medium;
    padding-top: 3%;
    color: black;
}
#yea{
    font-family: 'Cormorant Garamond', serif;
    font-weight: bolder;
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 3%;
    padding-bottom: 0vh;
    flex-direction: row;
    justify-content: space-around;
    justify-content: space-evenly,space-between;
}
.best{
    text-align: center;
    font-size: x-small;
    font-family: 'Cormorant Garamond', serif;
    font-weight: lighter;
    color: black;
    padding-bottom: 7%;
}
.wee{
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-weight: bolder;
    font-size: large;
    color: black;     
}
.hear{
    background-color: rgb(66, 149, 177);
    padding-bottom: 8%;
}
#good{
    background-color: whitesmoke;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}
    #img:hover {
        -ms-transform: scale(1.5);
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
    } 
#img {
    border-radius: 50%;
    box-shadow: 0 0 10px rgb(26, 164, 189);
}
#love{
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
}
.picha{
    text-align: center;
}
#hh{
    padding-bottom: 6%;
}
#inte{
    background-color: whitesmoke;
}
.row{
    margin: 5%;
}
#log{
    border-radius: 50%;
    background-color: rgb(95, 95, 104);
}
#log:hover {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
      
